{% extends 'backOffice/base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center pt-2">Catégories</h1>
		<br/>
		<a href="{{ path('add_category') }}" class="btn btn-primary">Ajouter une catégorie</a>
		<div class="table">
			<table class="table">
				<thead>
					<tr>
						<th>Nom de la catégorie</th>
						<th>Etat</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>

					{% for category in categories %}
						<tr>
							<td>{{ category.title }}</td>
							<td>{{ category.status }}</td>
							<td class="row">
							<form method="post" action="{{ path('delete_category', {'id': category.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette categorie?');">
								<a href="{{ path('view_category', {'id': category.id}) }}" class="btn btn-primary">Plus d'infos</a>
								<a href="{{ path('update_category', {'id': category.id}) }}" class="btn btn-primary">Modifier</a>
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
								<button class="btn btn-danger">Supprimer</button>
							</form>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="11">Pas de catégories</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

