{% extends 'backOffice/base.html.twig' %}

{% block title %}Catégories index{% endblock %}

{% block body %}
    <h1>Catégories index</h1>
        <a class=" btn btn-primary " href="{{ path('add_category') }}">Ajouter Catégorie</a>
        <br/>

    {% for category in categories %}
        <td>{{category.id}}</td>
        <td>title {{category.title}}</td>
        <td>
        <form method="post" action="{{ path('delete_category', {'id': category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this category?');">
        <a href="{{ path('view_category', {'id': category.id}) }}">show</a>
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
        <button class="btn">Delete</button>
    </form>

        </td>
    {% endfor %}
   

{% endblock %}
