{% extends 'base.html.twig' %}

{% block title %}Game Component | Commande{% endblock %}

{% block body %}
	<div class="container bg-light">
		<h1 class="text-center pt-2 pb-2">Commande numéro :{{commande.id}}</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Numéro de commande</th>
					<td>{{ commande.id }}</td>
				</tr>
				<tr>
					<th>Contenu de la commande</th>
					<td>
						{% for item in commande.content %}
							<p><b>Produit: </b><a href="{{ path('view_product', {'id': item.product.id}) }}">{{ item.product.name }}</a>
								<b>Quantité: </b>{{ item.quantity }}</p>
						{% endfor %}
					</td>
				</tr>

				<tr>
					<th>Etat du paiement</th>
					<td>{{ commande.status }}</td>
				</tr>
				<tr>
					<th>Etat de l'envoie</th>
					<td>{{ commande.statusSend }}</td>
				</tr>
				<tr>
					<th>Date d'achat</th>
					<td>{{ commande.dateCreation ? commande.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Date de l'envoie</th>
					<td>{{ commande.dateSend ? commande.dateSend|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Date de reception</th>
					<td>{{ commande.dateReception ? commande.dateReception|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Adresse de reception</th>
					<td>{{ commande.deliveryAddress }}, {{ commande.deliveryCity }}, {{ commande.zipCode }}</td>
				</tr>
			</tbody>
		</table>

	</div>
{% endblock %}
