{% extends 'backOffice/base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}

	<h1 class="text-center pt-2">Toutes les commandes</h1>
	<br/>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Numéro de commande</th>
					<th>Etat du paiement</th>
					<th>Etat de l'envoi</th>
					<th>Date d'achat</th>
					<th>Date d'envoie</th>
					<th>Adresse</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>

				{% for commande in commandes %}
					<tr>
						<td>{{ commande.id }}</td>
						<td>{{ commande.status }}</td>
						<td>{{ commande.statusSend }}</td>
						<td>{{ commande.dateCreation ? commande.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ commande.dateSend ? commande.dateSend|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ commande.deliveryAddress }}, {{ commande.deliveryCity }}, {{ commande.zipCode }}</td>
						<td class="row">
							<a href="{{ path('admin_show_command', {'id': commande.id}) }}" class="btn btn-primary"><i class="fas fa-align-justify"></i></a>
							<a href="{{ path('commande_edit', {'id': commande.id}) }}" class="btn btn-warning">
								<i class="fas fa-pen"></i>
							</a>
							{{ include('backOffice/commands/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="11">Pas de commandes</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
