<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Game Component</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarColor02">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">Home
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('list_products') }}">Produits</a>
			</li>

			{% if app.user %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('cart_index') }}">Panier</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('user_commands', { 'id': app.user.id }) }}">Mes commandes</a>
				</li>
			{% endif %}

			{% if is_granted('ROLE_ADMIN') %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('back_office') }}">BackOffice</a>
				</li>
			{% endif %}
		</ul>
		<ul class="nav navbar-nav navbar-right">
			{% if app.user %}
				<li class="nav-item">
					<a class="nav-link">
						Bonjour
						{{ app.user.username }} 
					</a>
				</li>
			{% endif %}
			<li class="nav-item">
                {% if app.user %}
                
                {% else %}
                    <a class="nav-link" href="{{ path('registry') }}">
					    Inscription
				    </a>
                {% endif %}
			</li>
			<li class="nav-item">
				{% if app.user %}
					<a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
				{% else %}
					<a class="nav-link" href="{{ path('app_login') }}">
						Connexion
					</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
