{% extends 'base.html.twig' %}
{% block body %}

	<div class='container bg-light table-responsive'>
		<h1 class="text-center pt-2">Mes commandes</h1>
		<br>
		<table class="table bg-white">
			<thead>
				<tr>
					<th>Numéro de commande</th>
					<th>Statut</th>
					<th>Statut de l'envoi</th>
					<th>Date d'achat</th>
					<th>Adresse</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

				{% for commande in commandes %}
					<tr>
						<td>{{ commande.id }}</td>
						<td>{{ commande.status }}</td>
						<td>{{ commande.statusSend }}</td>
						<td>{{ commande.dateCreation ? commande.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ commande.deliveryAddress }}, {{commande.deliveryCity}}, {{commande.zipCode}}</td>
						<td>
							<a href="{{ path('commande_show', {'id': commande.id}) }}" class="btn btn-primary">En savoir plus</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="11">Vous n'avez pas passé de commandes dernièrement</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}
