{% extends 'backOffice/base.html.twig' %}

{% block body %}
<h1>Gestion des utilisateurs </h1>
	<a href="{{path('add_user')}}" class="btn btn-dark">Ajouter un utilisateur</a>
	<table>
		<tr>
			<th>Nom</th>
			<th>Prénom</th>
			<th>Email</th>
			<th>Téléphone</th>
		</tr>
		{% for user in users %}
			<tr>
				<td>{{user.lastName}}</td>
				<td>{{user.name}}</td>
				<td>{{user.email}}</td>
				<td>{{user.phone}}</td>
				<td><a href="{{ path('update_user', {'id': user.id}) }}">Modifier</a></td>
				<td><a href="{{ path('delete_user', {'id': user.id}) }}">Supprimer</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
